In [1]:
import pandas as pd
from models_xgbr import load_and_preprocess_movielens_df

In [2]:
train, test = load_and_preprocess_movielens_df()

In [3]:
average_ratings = train.groupby("movieId").mean()
average_of_all = train["rating"].mean()

In [4]:
average_ratings

                userId    rating
movieId
1         60658.922104  3.895064
2         61065.681323  3.251541
3         60974.079028  3.148445
4         60165.104478  2.854211
5         60798.027967  3.059231
...                ...       ...
209157   119571.000000  1.500000
209159   115835.000000  3.000000
209163     6964.000000  4.500000
209169   119571.000000  3.000000
209171   119571.000000  3.000000

[57100 rows x 2 columns]

In [5]:
average_of_all

3.533328352019128

In [6]:
naive_predictions = test.join(average_ratings, on="movieId", how="left", rsuffix="_other").fillna(average_of_all).drop(["genres", "userId_other"], axis=1).rename({"rating_other": "preds"}, axis=1)
naive_predictions

         userId  movieId  rating     preds
0        121557     4027     3.0  3.869381
774      121562     4027     4.0  3.869381
2741     121579     4027     5.0  3.869381
3699     121588     4027     3.0  3.869381
4132     121589     4027     4.5  3.869381
...         ...      ...     ...       ...
6240807  162508    91065     1.5  3.000000
6240817  162508   101072     2.0  3.250000
6249273  162534   174923     3.0  3.000000
6249290  162534   184107     3.0  1.937500
6249298  162534   189169     2.5  2.500000

[6250023 rows x 4 columns]

In [7]:
naive_predictions.to_csv("average_preds.csv")